


/* variaben */

:root{
    /* Sizing */
    --PADD:1em;
    /* color */
    --BACKSTYL_RADIANT:radial-gradient(rgb(104, 104, 108),rgb(29, 31, 29));
    --BACKSTYL_LINEAR: linear-gradient(green,rgb(35, 162, 95)) ;
    --ACENT_BLUE:rgb(18, 69, 123);
    

}





/* Positioning */
body{
    
    
    display: grid;
 grid-template-rows: 1fr 4fr 1fr 0.5fr;

}
.h1,.Inx_p,div {
 grid-column: 1/3;
 display: flex;
 justify-content: center;
 align-items: center;


}

.img{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
   
    
    
}

/* style */
body{
    font-family: Arial, Helvetica, sans-serif;
    
    background-image: var(--BACKSTYL_RADIANT); 

}
.h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 45, 45, 0.944); /* Hintergrund mit Transparenz */
    z-index: 1; /* Damit das Overlay über dem Bild liegt */
    border-radius:30px;
    border: 3px solid gray;
}
h1{
    z-index: 2;
    color: aliceblue;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    text-align: center;
}
.h1{
    position: relative;
    
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    margin: var(--PADD);
    /* border: 3px solid rgba(123, 133, 124, 0.477); */
    border-radius: 90px;
    padding: 30px;
    /* Vordergrund Overlay (Halbtransparent) */
    background-color: rgba(84, 77, 77, 0.9); /* Halbdurchsichtiges Overlay */
    
    /* Hintergrundbild */
    background-image: url(/img/fire-texture-blazing-hot-flames-burning-bright-orange-wallpaper-5.jpg);
    background-size: cover;
    background-position: center;
    
    

}




.Inx_p{
    text-align: center;
    margin-left: 40px ;
    margin-right: 40px;
    color: aliceblue;
    
   border-radius: 10px;
   box-shadow: 0 0 5px rgb(11, 11, 12);
    /* box-shadow: 0 0 2px rgb(250, 250, 250); */
    text-shadow: 0 0 5px rgb(73, 72, 72);
    background-color: rgba(0, 0, 0, 0.084);
    /* background-color: rgba(37, 37, 44, 0.838); */
    
    
}



a{
    width: 400px;
    text-align: center;
    /* border: 4px solid; */
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-shadow: 0 0 5px rgb(255, 255, 255);

    

}
/* Animation */
/* img:hover{
    transform: scale(110%);
    background-color: var(--ACENT_BLUE);
} */
.h1:hover{
    transform: scale(110%);
    background-color: var(--ACENT_BLUE);
}
.Inx_p:hover{
    
    transform: scale(110%);
    background-color: var(--ACENT_BLUE);
}
a:hover{
    transform: scale(110%);
    background-color: var(--ACENT_BLUE);
}
a:active{
    transform: scale(130%);
    background-color: rgb(9, 60, 77);
    outline: 2px solid ;
}
