/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /* struktur*/
body{
    display: grid;
    grid-template-rows: 2fr 1.5fr 1.5fr 0.5fr;
    place-items: center;
    
}
:root{
    --GB_H:300px;
    --GB_W:85vh;
    --BACKSTYL_RADIANT:radial-gradient(rgb(104, 104, 108),rgb(29, 31, 29));
}

.box{
    
    
    width: 200px;
    height: 200px;

}
.box_display{
    
    
    width: 110vh;
    height: 400px;
}
header{
    display: flex;
    justify-content: flex-start;
}
main{
    display: flex;
    justify-content: flex-start;
}
footer{
    display: flex;
    justify-content: flex-start;
}
.a{
    width: 60vh;
    height: 400px;
}
.b,.c,.e,.d{
    width: var(--GB_W);
    height: var(--GB_H);

}
div{
    margin: 15px;
}

/* Styling */
body{
    background-image: radial-gradient(grey, rgb(96, 96, 111));
    background-image: var(--BACKSTYL_RADIANT); 

}
div{
    border: 4px solid rgb(0, 0, 0);
     background-color: rgb(49, 48, 48); 
    
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(11, 11, 12);

}
.weit-btn{
    
    padding: 10px;
    padding-left: 70vh;
    padding-right: 70vh;
    
    
    border-radius: 10px;
    
   
    box-shadow: 0 0 5px rgb(255, 255, 255);

    
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    text-shadow: 0 0 5px;
    color: rgba(255, 255, 255, 0.276);
}
.a{
    box-shadow: 0 0 3px red;
}
.b{
    box-shadow: 0 0 3px orange;
}
.c{
    box-shadow:0 0 3px yellow;
}
.d{
    box-shadow: 0 0 3px rgb(1, 254, 1);
}
.e{
    box-shadow: 0 0 3px rgb(67, 161, 255);
}
.box_display{
    box-shadow: 0 0 3px blueviolet;
}





/* animtation */


:where(section:hover){
    transform-origin: top center;
    animation: showMenu 1s ease-in-out forwards;
    
 }




@keyframes showMenu {
    0%{
        background-color: rgb(255, 0, 0);
        transform: scale(101%);

    }
    20%{
        background-color: rgb(255, 128, 0);
        transform: scale(102%);
    }
    40%{
        background-color: rgb(255, 234, 0);
        transform: scale(103%);
    }
    60%{
        background-color: rgb(0, 255, 0);
        transform: scale(104%);

    }
    80%{
        background-color: rgb(0, 238, 246);
        transform: scale(105%);

    }
    100%{
        background-color: blueviolet;
        transform: scale(106%);
    }
  
}
:is(section:active){
    transform-origin: top center;
    animation: bbb 1s ease-in-out forwards;

}
@keyframes bbb{
    0%{
        background-image: linear-gradient(to left,red,orange,yellow,green,blue,blueviolet);
        transform: scale(110%);

    }
    
}
